<section id="reset_password_page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 bg-image image"></div>
            <div class="col-md-6 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="g-text-center--xs g-margin-b-30--xs">
                                    <h2 class="g-font-size-30--xs g-color--dark">Reset Password</h2>
                                </div>
                                <div id="errors-area">
                                    {{#if error_msg}}
                                    <div class="alert alert-danger">{{error_msg}}</div>
                                    {{/if}}

                                    {{#if success_msg}}
                                    <div class="alert alert-success">{{success_msg}}</div>
                                    {{/if}}
                                </div>
                                <form action="/reset-password/{{resetPasswordToken}}" method="POST" id="reset_password_frm">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">

                                    <div class="g-margin-b-30--xs">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="password" name="password" id="password"
                                            class="form-control s-form-v4__input" placeholder="* Password">
                                    </div>


                                    <div class="g-margin-b-30--xs">
                                        <label for="confirm_password" class="sr-only">Confirm Password</label>
                                        <input type="password" name="confirm_password" id="confirm_password"
                                            class="form-control s-form-v4__input" placeholder="* Confirm Password">
                                    </div>

                                    <button type="submit" name="auth_reset_password_submit"
                                        id="auth_reset_password_submit"
                                        class="text-uppercase btn-block s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Reset
                                        Password</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<script src="/javascripts/reset-password.js"></script>