.bg-image {
	background-image: url("../images/login.jpg");
	background-size: cover;
	background-position: center;
}

.image,
.login {
	height: 100vh;
}

input.error {
	border-color: #dc3545;
}
input.error:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
label.error {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}
